# Eclipse
.metadata/
.project
.classpath
.settings/

# IntelliJ
.idea/
*.iml

# Build
bin/
logs/

.factorypath
src/test/java/com/runner/CucumberRunner.java
target/
test-output/
allure-results/
ExtentReports/
HtmlReport/
PdfReport/
